<html>
<head>
  <title>test</title>
</head>

<body>
<form id="formElem">
  <label for="newPassword">Enter new password</label>
  <input type="password" name="newPassword" id="newPassword">
  <input type="submit">
</form>
</body>
<script>

  function get(name){
    if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
  }

  formElem.onsubmit = async (e) => {
    e.preventDefault();
    var form = document.querySelector("#formElem");
    // var form = document.forms[0];

    data = {
      newPassword : form.querySelector('input[name="newPassword"]').value,
      email : get('email'),
      token : get('token')
    }

    // let response = await fetch('http://localhost:8080/Scooter_war_exploded/password_reset', {
    let response = await fetch('http://localhost:8080/Scooter-1.0-SNAPSHOT/password_reset', {
      method: 'PUT', // or 'POST'
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })

    let text = await response.text(); // read response body as text
    document.querySelector("#decoded").innerHTML = text;
  };
</script>
</html>